<span class="checkbox">
  <!-- <md-checkbox aria-label="Checkbox 1" class="md-accent"></md-checkbox> -->
  <input type="checkbox">
</span>
<div class="turma">{{turma.turma}}</div>
<div class="diaAula">
  <div class="quinzenal noturno">19h - 21h</div>
  <div class="quinzenal noturno">19h - 23h</div>
</div>
<div class="diaAula">
  <div class="semanal noturno">19h - 21h</div>
</div>
<div class="diaAula"></div>
<div class="diaAula"></div>
<div class="diaAula"></div>
<div class="diaAula"></div>
<div class="vagasAula">{{turma.vagas}}</div>
