<div class="leftPane md-whiteframe-4dp" layout="column">
  <md-toolbar class="md-primary md-hue-2">
    <div class="dashboard-toolbar md-toolbar-tools">

      <div class="user-info">
        <h2>{{user.nome}}</h2>
        <p>{{user.curso}} - {{user.turno}}</p>
      </div>

      <span flex></span>

      <md-button class="md-warn md-mds-icon-button" aria-label="Sair" ng-click="logout()">
        <!-- <i class="mdi mdi-menu"></i> -->
        Sair
      </md-button>
    </div>
  </md-toolbar>

  <md-content flex layout-padding>

    <small>Semana 1</small>

    <schedule>
      <div class="times">
        <div class="header"></div>
        <div class="time"><div>08:00</div></div>
        <div class="time"><div>09:00</div></div>
        <div class="time"><div>10:00</div></div>
        <div class="time"><div>11:00</div></div>
        <div class="time"><div>12:00</div></div>
        <div class="time"><div>13:00</div></div>
        <div class="time"><div>14:00</div></div>
        <div class="time"><div>15:00</div></div>
        <div class="time"><div>16:00</div></div>
        <div class="time"><div>17:00</div></div>
        <div class="time"><div>18:00</div></div>
        <div class="time"><div>19:00</div></div>
        <div class="time"><div>20:00</div></div>
        <div class="time"><div>21:00</div></div>
        <div class="time"><div>22:00</div></div>
        <div class="time"><div>23:00</div></div>
      </div>

      <div class="days">
        <day class="day-1">
          <div class="header">Segunda</div>
          <div class="classes">
            <class style="top: 28px; height: 28px; border-top-color: rgba(233, 30, 99, 1); background: rgba(233, 30, 99, 0.7)">
              <p><strong>A2</strong> - BC0207</p>
            </class>
          </div>
        </day>

        <day class="day-2">
          <div class="header">Terça</div>
          <div class="classes">
            <class style="top: 56px; height: 28px; border-top-color: rgba(244, 67, 54, 1); background: rgba(244, 67, 54, 0.7)">
              <p><strong>C</strong> - END5600</p>
            </class>
          </div>
        </day>

        <day class="day-3">
          <div class="header">Quarta</div>
          <div class="classes">
            <class style="top: 28px; height: 28px; border-top-color: rgba(156, 39, 176, 1); background: rgba(156, 39, 176, 0.7)">
              <p><strong>B3</strong> - BCE3990</p>
            </class>
          </div>
        </day>

        <day class="day-4">
          <div class="header">Quinta</div>
          <div class="classes">
            <class style="top: 84px; height: 28px; border-top-color: rgba(103, 58, 183, 1); background: rgba(103, 58, 183, 0.7)">
              <p><strong>A1</strong> - BC0207</p>
            </class>
          </div>
        </day>

        <day class="day-5">
          <div class="header">Sexta</div>
          <div class="classes">
            <class style="top: 14px; height: 28px;">
              <p><strong>A1</strong> - BC0207</p>
            </class>
          </div>
        </day>

        <day class="day-6">
          <div class="header">Sábado</div>
          <div class="classes">
            <class style="top: 126px; height: 56px;">
              <p><strong>A1</strong> - BC0207</p>
            </class>
          </div>
        </day>
      </div>
    </schedule>

    <small>Semana 2</small>

    <schedule>
      <div class="times">
        <div class="header"></div>
        <div class="time"><div>08:00</div></div>
        <div class="time"><div>09:00</div></div>
        <div class="time"><div>10:00</div></div>
        <div class="time"><div>11:00</div></div>
        <div class="time"><div>12:00</div></div>
        <div class="time"><div>13:00</div></div>
        <div class="time"><div>14:00</div></div>
        <div class="time"><div>15:00</div></div>
        <div class="time"><div>16:00</div></div>
        <div class="time"><div>17:00</div></div>
        <div class="time"><div>18:00</div></div>
        <div class="time"><div>19:00</div></div>
        <div class="time"><div>20:00</div></div>
        <div class="time"><div>21:00</div></div>
        <div class="time"><div>22:00</div></div>
        <div class="time"><div>23:00</div></div>
      </div>

      <div class="days">
        <day class="day-1">
          <div class="header">Segunda</div>
          <div class="classes">
            <class style="top: 28px; height: 28px;">
              <p><strong>A1</strong> - BC0207</p>
            </class>
          </div>
        </day>

        <day class="day-2">
          <div class="header">Terça</div>
          <div class="classes">
            <class style="top: 70px; height: 28px;">
              <p><strong>A1</strong> - BC0207</p>
            </class>
          </div>
        </day>

        <day class="day-3">
          <div class="header">Quarta</div>
          <div class="classes">
            <class style="top: 28px; height: 28px;">
              <p><strong>A1</strong> - BC0207</p>
            </class>
          </div>
        </day>

        <day class="day-4">
          <div class="header">Quinta</div>
          <div class="classes">
            <class style="top: 64px; height: 28px;">
              <p><strong>A1</strong> - BC0207</p>
            </class>
          </div>
        </day>

        <day class="day-5">
          <div class="header">Sexta</div>
          <div class="classes">
            <class style="top: 16px; height: 28px;">
              <p><strong>A1</strong> - BC0207</p>
            </class>
          </div>
        </day>

        <day class="day-6">
          <div class="header">Sábado</div>
          <div class="classes">
            <class style="top: 112px; height: 56px;">
              <p><strong>A1</strong> - BC0207</p>
            </class>
          </div>
        </day>
      </div>
    </schedule>

  </md-content>

</div>

<div class="rightPane" layout="column">

  <div ng-include="'/views/search-bar.html'"></div>
  <md-progress-linear class="md-accent md-progress-below-toolbar"
    md-mode="determinate" ng-hide="loaded"
    value="{{progress}}">
  </md-progress-linear>

  <md-content layout-padding flex>
    <div  class="classGroup obrigatorias"
          ng-include="'/views/dashboard-card.html'"
          ng-init="tipo='obrigatoria';titulo='Obrigatórias'"></div>

    <div  class="classGroup limitadas"
          ng-include="'/views/dashboard-card.html'"
          ng-init="tipo='limitada';titulo='Limitadas'"></div>

    <div  class="classGroup livres"
          ng-include="'/views/dashboard-card.html'"
          ng-init="tipo='livre';titulo='Lives'"></div>
  </md-content>

  <div layout="row" layout-align="end center" style="padding: 4px 16px;">

    <span>Créditos: <strong>{{0}}/{{creditos}}</strong></span>
    <span flex></span>
    <md-button class="md-raised md-accent" type="submit">Salvar</md-button>
  </div>
</div>
