<span class="checkbox">
  <!-- <md-checkbox aria-label="Checkbox 1" class="md-accent"></md-checkbox> -->
  <input type="checkbox" ng-click="toggleTurma(turma.id)" ng-checked="selectedTurmas[turma.id]">
</span>
<div class="turma">{{::turma.turma}}</div>
<div class="diaAula" ng-repeat="day in [1, 2, 3, 4, 5, 6]"
  ng-class="::diaAulaClass(turma.schedule[day])">
  <div class="q1">{{::turma.schedule[day].q1}}</div>
  <div class="q2">{{::turma.schedule[day].q2}}</div>
</div>
<div class="vagasAula">{{::turma.vagas}}</div>
