<!doctype html>
<html lang="pt-br">
<head>
  <title>Sistema de Matrículas | NoKicks</title>
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>

  <meta charset="utf-8">
  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Facebook Meta Tags -->
  <meta property="og:title" content="Sistema de Matrículas - NoKicks">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <!-- End of Facebook Meta Tags -->

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/components/angular-material/angular-material.css">
  <link rel="stylesheet" href="/components/mdi/materialdesignicons.min.css">
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body ng-app="NoKicks" layout="row">

    <div class="leftPane" layout="column">
      <md-toolbar class="md-primary md-hue-2">
        <div class="md-toolbar-tools">


          <h2>
            <span>NoKick</span>
          </h2>

          <span flex></span>

          <!-- <md-button class="md-icon-button" aria-label="Settings">
            <i class="mdi mdi-menu"></i>
          </md-button> -->
        </div>
      </md-toolbar>
      <md-content flex layout-padding>
        <p>Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire
          mediocrem at, in lobortis conclusionemque nam. Ne deleniti
          appetere reprimique pro, inani labitur disputationi te sed.
          At vix sale omnesque, id pro labitur reformidans accommodare,
          cum labores honestatis eu. Nec quem lucilius in, eam praesent
          reformidans no. Sed laudem aliquam ne.</p>
        <p>Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire
          mediocrem at, in lobortis conclusionemque nam. Ne deleniti
          appetere reprimique pro, inani labitur disputationi te sed.
          At vix sale omnesque, id pro labitur reformidans accommodare,
          cum labores honestatis eu. Nec quem lucilius in, eam praesent
          reformidans no. Sed laudem aliquam ne.</p>
      </md-content>
    </div>

    <div class="rightPane" layout="column">

      <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">

          <!-- <md-button class="md-icon-button" aria-label="Settings">
            <i class="mdi mdi-menu"></i>
          </md-button> -->

          <h2>
            <span>Filtros</span>
          </h2>

          <span flex></span>
        </div>
      </md-toolbar>
      <md-content layout-padding flex>

      <div class="classGroup obrigatorias">

        <h3>Obrigatórias</h3>

        <div class="disciplineCard">

          <div layout="row"layout-align="space-between center" class="disciplineTitle">
            <span>BCXXXX</span>
            <span>Bases do Início para Começar</span>
            <span>(T - P - I)</span>
          </div>
          <div class="disciplineContent">

            <h5>Santo André</h5>

            <div class="horario noturno">
              <span class="checkbox">
                <md-checkbox aria-label="Checkbox 1" class="md-accent"></md-checkbox>
              </span>
              <div class="diaAula">
                <div class="quinzenal noturno">19h - 21h</div>
                <div class="quinzenal noturno">19h - 23h</div>
              </div>
              <div class="diaAula">
                <div class="semanal noturno">19h - 21h</div>
              </div>
              <div class="diaAula"></div>
              <div class="diaAula"></div>
              <div class="diaAula"></div>
              <div class="diaAula"></div>
              <div class="vagasAula">8 / 32 / 64</div>
            </div>


            <h5>São Bernardo</h5>

            <div class="horario matutino">
              <span class="checkbox">
                <md-checkbox aria-label="Checkbox 1"></md-checkbox>
              </span>
              <div class="diaAula">
                <div class="quinzenal">08h - 10h</div>
                <div class="quinzenal">08h - 12h</div>
              </div>
              <div class="diaAula">
                <div class="semanal">10h - 12h</div>
              </div>
              <div class="diaAula"></div>
              <div class="diaAula">
                <div class="quinzenal">-</div>
                <div class="quinzenal">10h - 12h</div>
              </div>
              <div class="diaAula"></div>
              <div class="diaAula"></div>
              <div class="vagasAula">8 / 32 / 64</div>
            </div>

            <div class="horario">
              <span class="checkbox">
                <md-checkbox aria-label="Checkbox 1"></md-checkbox>
              </span>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="vagasAula">8 / 32 / 64</div>
            </div>

          </div>
        </div>
      </div>


      <div class="classGroup limitadas">

        <h3>Limitadas</h3>

        <div class="disciplineCard">
          <div layout="row"layout-align="space-between center" class="disciplineTitle">
            <span>BCXXXX</span>
            <span>Bases do Início para Começar</span>
            <span>(T - P - I)</span>
          </div>
          <div class="disciplineContent">

            <div class="horario">
              <span class="checkbox">
                <md-checkbox aria-label="Checkbox 1"></md-checkbox>
              </span>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="vagasAula">8 / 32 / 64</div>
            </div>

            <div class="horario">
              <span class="checkbox">
                <md-checkbox aria-label="Checkbox 1"></md-checkbox>
              </span>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="vagasAula">8 / 32 / 64</div>
            </div>

            <div class="horario">
              <span class="checkbox">
                <md-checkbox aria-label="Checkbox 1"></md-checkbox>
              </span>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="vagasAula">8 / 32 / 64</div>
            </div>

          </div>
        </div>

        <div class="disciplineCard">
          <div layout="row"layout-align="space-between center" class="disciplineTitle">
            <span>BCXXXX</span>
            <span>Bases do Início para Começar</span>
            <span>(T - P - I)</span>
          </div>
          <div class="disciplineContent">

            <div class="horario">
              <span class="checkbox">
                <md-checkbox aria-label="Checkbox 1"></md-checkbox>
              </span>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="vagasAula">8 / 32 / 64</div>
            </div>

            <div class="horario">
              <span class="checkbox">
                <md-checkbox aria-label="Checkbox 1"></md-checkbox>
              </span>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="vagasAula">8 / 32 / 64</div>
            </div>

            <div class="horario">
              <span class="checkbox">
                <md-checkbox aria-label="Checkbox 1"></md-checkbox>
              </span>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="vagasAula">8 / 32 / 64</div>
            </div>

          </div>
        </div>


      </div>


      <div class="classGroup livres">

        <h3>Livres</h3>

        <div class="disciplineCard">

          <div layout="row"layout-align="space-between center" class="disciplineTitle">
            <span>BCXXXX</span>
            <span>Bases do Início para Começar</span>
            <span>(T - P - I)</span>
          </div>
          <div class="disciplineContent">

            <div class="horario">
              <span class="checkbox">
                <md-checkbox aria-label="Checkbox 1"></md-checkbox>
              </span>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="vagasAula">8 / 32 / 64</div>
            </div>

            <div class="horario">
              <span class="checkbox">
                <md-checkbox aria-label="Checkbox 1"></md-checkbox>
              </span>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="vagasAula">8 / 32 / 64</div>
            </div>

            <div class="horario">
              <span class="checkbox">
                <md-checkbox aria-label="Checkbox 1"></md-checkbox>
              </span>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="diaAula">
                <div class="quinzenaAula"></div>
                <div class="quinzenaAula"></div>
              </div>
              <div class="vagasAula">8 / 32 / 64</div>
            </div>

          </div>
        </div>
      </div>


      </md-content>
    </div>

  <script src="/components/jquery/jquery.js"></script>
  <script src="/components/angular/angular.js"></script>
  <script src="/components/angular-aria/angular-aria.js"></script>
  <script src="/components/angular-animate/angular-animate.js"></script>
  <script src="/components/angular-material/angular-material.js"></script>
  <script src="/scripts/app.js"></script>
</body>
</html>
