<!doctype html>
<html lang="pt-br">
<head>
  <title>Sistema de Matrículas | NoKicks</title>
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>

  <meta charset="utf-8">
  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Facebook Meta Tags -->
  <meta property="og:title" content="Sistema de Matrículas | NoKicks">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <!-- End of Facebook Meta Tags -->

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/components/angular-material/angular-material.css">
  <link rel="stylesheet" href="/components/mdi/materialdesignicons.min.css">
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body ng-app="NoKicks">
  <div class="leftPane">
    <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Settings">
        <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
      </md-button>
      <h2>
        <span>Toolbar with Icon Buttons</span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Favorite">
        <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="More">
        <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  </div>
  <div class="rightPane">

  </div>

  <script src="/components/jquery/jquery.js"></script>
  <script src="/components/angular/angular.js"></script>
  <script src="/components/angular-aria/angular-aria.js"></script>
  <script src="/components/angular-animate/angular-animate.js"></script>
  <script src="/components/angular-material/angular-material.js"></script>
  <script src="/scripts/app.js"></script>
</body>
</html>
