<div id="greenBanner">
  <div id="loginBox" class="md-whiteframe-8dp">

      <div id="loginBoxHeader">
        <div id="loginBoxLogo" class="md-whiteframe-2dp"></div>
      </div>

      <div id="loginBoxContent" ng-class="{loading: lock}">
        <form ng-submit="login()">

          <p class="md-caption md-warn" ng-show="errorMessage">
            {{errorMessage}}
          </p>

          <md-input-container class="md-block">
            <label>Login</label>
            <input ng-model="loginForm.user" type="text" name="login">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Senha</label>
            <input ng-model="loginForm.pass" type="password" name="password">
          </md-input-container>

          <img ng-src="{{'/api/auth/captcha?rand='+loginRand}}" width="100%"/>
          <md-input-container class="md-block">
            <label>Captcha</label>
            <input ng-model="loginForm.captcha" type="captcha" name="captcha">
          </md-input-container>

          <div layout="row" layout-align="end center">
            <input value="Entrar" class="md-button md-raised md-primary"
              type="submit"/>
          </div>
        </form>


        <div class="boxLoading" layout="row" layout-align="center center">
          <md-progress-circular md-mode="indeterminate" md-diameter="96"
            class="md-warn">
          </md-progress-circular>
        </div>
      </div>


  </div>
  <div id="textTitle">
    <h1>Olá Alunos da UFABC,</h1>
  </div>
</div>

<div id="textContent">
  <p>Sejam bem vindos a SIMULAÇÃO do NoKick! A plataforma de matrícula nas matérias da UFABC criada por alunos da UFABC! Cansados de serem chutados das matérias sem saber o motivo, ou nem a posição em que estavam, nós desenvolvedores dessa ferramenta decidimos tentar mostrar como pode ser melhorado e simplificado o processo de matrícula.</p>
  <p><span>ATENÇÃO:</span> Essa SIMULAÇÃO utiliza os seus dados reais (do portal do aluno) de CP, CR, curso, turno e ingresso. O sistema adquire essa informação automaticamente ao efetuar login. Sua senha, entretanto, <span>não será armazenada em momento algum</span>. Precisamos destas informações para que a SIMULAÇÃO aconteça da forma mais real possível.</p>

  <div layout="row" layout-align="end none">
    <small>Made with <span style="color:#e74c3c;">❤</span> by a bunch of geeks from UFABC.
      Source code at <a href="https://github.com/UFABC-NoBox/NoKicks" target="_blank"><i class="mdi mdi-github-circle"></i></a>.</small>
  </div>
</div>
