<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Como funciona a interface?</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="mdi mdi-close"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <p>
          <img src="assets/images/tutorial.png" width="100%"/>
        </p>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
