<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>That's it.</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="mdi mdi-close"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h2 style="margin: 0; text-align: center; font-size: 64px; color: #D0D0D0;"><i class="mdi mdi-emoticon"></i></h2>
        <p>
          Este foi um demo, que surgiu de uma vontade própria de
          alguns nerds de mostrar um sistema de matrículas coerente com
          uma universidade do 'Séc XXI'.
        </p>
        <p>
          Nossa vontade era de criar algo 100% funcional, mas percebemos que
          por questões burocráticas seria bem difícil esse projeto ser posto em
          prática. De qualquer forma, investimos 4 semanas para desenvolver
          essa interface e todo Backend (a parte do 'servidor'). Muita coisa
          precisa ser finalizada, e acreditamos que este projeto sendo 'open-source'
          ajudaria, e muito, a comunidade como um todo.
        </p>
        <p>
          Curioso para ver o código fonte? Acesse aqui:
          <a target="_blank" href="https://github.com/UFABC-NoBox/NoKicks">github.com/UFABC-NoBox/NoKicks</a>
        </p>
        <p>
          Acreditamos que um sistema de matricula, não resolve o problema das vagas,
          mas deve sim, reduzir os chutes. É por conta disso, que implementamos
          a possibilidade de 'simular' sua posição em tempo real na matéria,
          a fim de evitar ser chutado.
        </p>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
