html, body {
  background-color: #f0f0f0;
  min-width: 1024px;
}

#greenBanner {
  top: 0;
  left: 0;
  right: 0;
  height: 224px;
  position: relative;
  background-color: #388E3C; /*007c21*/
}

#textTitle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 80px;
}

#textContent {
  text-align: left;
  position: absolute;
  left: 85px;
  right: 600px;
  margin-top: 20px;
  min-width: 522px;
}

#textContent p {
  text-indent: 2em;
  color: #333;
  font-weight: 300;
  margin-top: 20px;
  text-align: justify;
}

#textContent p > span {
  font-weight: 400;
}

#textTitle h1 {
  color: #fff;
  font-weight: 100;
  font-size: 57px;
  margin: 0;
}

#loginBox {
  top: 100%;
  right: 0;
  width: 330px;
  position: absolute;
  max-width: 31.25%;
  margin-top: -64px;
  margin-right: 80px;

  border-radius: 6px;
  background-color: #fff;
}

#loginBoxHeader {
  height: 64px;
  position: relative;

  border-radius: 6px 6px 0 0;
  background-color: #e8e8e8; /*#005C01*/
}

#loginBoxLogo {
  position: absolute;
  width: 80px;
  height: 80px;
  background-image: url(../assets/images/logo_ufabc.png);
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: 50px;
  background-position: center;
  border-radius: 100%;
  top: 24px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#loginBoxContent {
  position: relative;
  margin: 90px 30px 25px 30px;
  padding: 0 15px;
}

.leftPane {
  top: 0;
  left: 0;
  width: 500px;
  bottom: 0;
  position: absolute;
}

.content {
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;

  overflow: auto;
  margin-top: 64px;
}

.rightPane {
  position: absolute;
  left:500px;
  top: 0;
  right: 0;
  bottom: 0;
}

.classGroup {
  border-left: solid 8px;
}

.disciplineCard {
  margin: 16px 16px 0 16px;
}

.whiteboard {
  -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
}
