html, body {
  background-color: #f0f0f0;
  min-width: 1024px;
}

#greenBanner {
  top: 0;
  left: 0;
  right: 0;
  height: 224px;
  position: relative;
  background-color: #388E3C; /*007c21*/
}

#textTitle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 80px;
}

#textContent {
  text-align: left;
  position: absolute;
  left: 85px;
  right: 600px;
  margin-top: 20px;
  min-width: 522px;
}

#textContent p {
  text-indent: 2em;
  color: #333;
  font-weight: 300;
  margin-top: 20px;
  text-align: justify;
}

#textContent p > span {
  font-weight: 400;
}

#textTitle h1 {
  color: #fff;
  font-weight: 100;
  font-size: 57px;
  margin: 0;
}

#loginBox {
  top: 100%;
  right: 0;
  width: 330px;
  position: absolute;
  max-width: 31.25%;
  margin-top: -64px;
  margin-right: 80px;

  border-radius: 6px;
  background-color: #fff;

}

#loginBoxHeader {
  height: 64px;
  position: relative;

  border-radius: 6px 6px 0 0;
  background-color: #e8e8e8; /*#005C01*/
}

#loginBoxLogo {
  position: absolute;
  width: 80px;
  height: 80px;
  background-image: url(../assets/images/logo_ufabc.png);
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: 50px;
  background-position: center;
  border-radius: 100%;
  top: 24px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#loginBoxContent {
  position: relative;
  margin: 40px 30px 25px 30px;
  padding: 20px 15px 0px 15px;
}

#loginBoxContent > form{
  transition: opacity 0.5s;
}

#loginBoxContent.loading > form{
  opacity: 0.4;
}

#loginBoxContent > .boxLoading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}

#loginBoxContent.loading > .boxLoading {
  display: flex;
}

.leftPane {
  top: 0;
  left: 0;
  width: 460px;
  bottom: 0;
  position: absolute;
  z-index: 1;
  /*background-color: #FAFAFA;*/
}

.content {
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;

  overflow: auto;
  margin-top: 64px;
}

.rightPane {
  position: absolute;
  left:460px;
  top: 0;
  right: 0;
  bottom: 0;
}

.classGroup {
  border-left: solid 2px;

  margin-top: 32px;
}

.classGroup > h3 {
  font-weight: 400;
  margin-top: 6px;
  margin-left: 16px;
}


/* Specific for class groups */
.classGroup.obrigatorias {
  border-left-color: #e3512d;
}
.classGroup.obrigatorias > h3{
  color: #e3512d;
}

.classGroup.limitadas {
  border-left-color: #ff9700;
}
.classGroup.limitadas > h3{
  color: #ff9700;
}

.classGroup.livres {
  border-left-color: #45c34a;
}
.classGroup.livres > h3{
  color: #45c34a;
}


.disciplineCard {
  margin: 16px;
  border-radius: 6px;
  /*box-shadow: 0 1px 5px 0 rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);*/
}

.disciplineTitle {
  padding: 20px 20px;
  background-color: #F0F0F0;
  border-radius: 6px 6px 0 0;
  height: 32px;
  color: #555;
  font-size: 12px;
}

.disciplineContent {
  border: solid 1px #eee;
  padding: 8px 8px;
  border-top: none;
  border-radius: 0 0 6px 6px;
}

.disciplineContent > h5 {
  margin: 16px 8px 0px 8px;

  font-weight: 400;
  color: #666;
}

.horario {
  display: flex;
  position: relative;
  align-items: center;
  margin: 5px 0;
}

.horario .quinzenaAula {
  width: 48px;
}

.horario > .diaAula{
  width: 48px;
  height: 28px;

  margin-right: 2px;

}

.horario > .turma {
  width: 28px;
  height: 28px;
  line-height: 28px;
  margin-right: 12px;

  border-radius: 2px;
  text-align: center;
  font-size: 16px;
}

.horario.aMAT > .turma {
  color: #FFF;
  background-color: #ffbf00;
}

.horario.cNOT > .turma {
  color: #FFF;
  background-color: #666;
}

.horario.bVES > .turma {
  color: #FFF;
  background-color: #45c34a;
}

.diaAula:empty {
  border: dashed 1px #F0F0F0;
  box-sizing: border-box;
  border-radius: 4px;
}

/* Specifico para quinzenal e semanal */
.diaAula > .quinzenal,
.diaAula > .semanal {
  font-size: 8px;
  text-align: center;

  border: solid 1px #F0F0F0;
  border-radius: 2px;
  box-sizing: border-box;
}

.diaAula > .quinzenal {
  /*margin-top: 2px;*/
  height: 14px;
  line-height: 14px;
}

.diaAula > .semanal {
  /*margin-top: 2px;*/
  height: 28px;
  line-height: 28px;
}

.diaAula > .semanal,
.diaAula > .quinzenal {
  background-color: #FAFAFA;
  border-color: #F0F0F0;
  color: #888;
}


.horario > .checkbox > md-checkbox {
  margin: 0;
}

.horario > .checkbox {
  margin-left: 8px;
  margin-right: 8px;
}

.quinzenaAula {
  height: 50%;
  border-radius: inherit;
  margin: 0;
  padding: 0;
}

.quinzenaAula:first-child{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.quinzenaAula:last-child{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.vagasAula {
  top: 6px;
  right: 10px;
  position: absolute;
  font-size: 14px;
  color: #666;
}

.rightPane md-toolbar > .md-toolbar-tools {
  display: block;
}

.rightPane md-toolbar {
  height: 110px;
}

.filterCourseBar {
  width: 50%;
}

.filterCheckBoxes {
  margin-top: 10px;
  font-size: 15px;
}

.whiteboard {
  -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
}
